            * {
                box-sizing: border-box;
            }
            body {
                font-family: sans-serif;
            }
            @media screen and (max-width: 900px) {
                #container {
                    max-width: 80vw;
                    left: 0;
                }
            }
            #container{
                max-width: 40vw;
                background-color: #fbfbfb;
                border-radius: 3mm;
                position: absolute;
                top: 20px;
                left: 25vw;
            }
            #background > img{
                width: 2658px;
                height: 1560px;
            }
            #background{
                position: absolute;
                z-index: -1;
                top: 0px;
                left: 0px;
                filter: blur(10px);
                width: 100%;
                height: 100%;
            }
            #cabecera {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #cabecera >img {
                max-width: 50vw;
                width: 30vw;
                border-radius: 3mm;
                border-bottom-left-radius: 1mm;
                border-bottom-right-radius: 1mm;
                
            }
            #titulo {
                display: grid;
                grid-template-columns: 60% 40%;
                max-width: 50vw;
                background-color: #fbfbfb;
                border-radius: 5mm;
                border-top-left-radius: 0mm;
                border-top-right-radius: 0mm;
            }
            #titulo_info {
                margin-left: 20px;
                justify-content: space-around;
                align-content: center;
            }
            #entradas {
                height: 70px;
                width: auto;
                background-color: rgb(183, 52, 52);
                border-radius: 2mm;
                border: 0px;
                font-weight: bold;
                font-size: 28px;
                color: white;
            }
            #buttonBox {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center; 
            }
            #ubicacion {
                opacity: 60%;
                color: black;
            }
            #ubiprecio{
                display: grid;
                grid-template-columns: 70% 30%;
                justify-content: center;
            }
            #precio{
                font-size: 24px;
            }
            .texto{
                width: fit-content;
            }
            #info {
                display: grid;
                grid-template-columns: 60% 40%;
                color: #64748b;
            }
            #sinopsis{
                padding: 15px;
            }
            #data{
                padding: 15px;
            }
            h4{
                color: black;
            }
            li {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .data {
                display:flex;
                align-items: center;
                margin-bottom: 5px;
                margin-top: 5px;
            }
            .icon {
                width: 20px;
                height: 20px;
                margin-right: 0.5em;
            }