* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}
#background {
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: -1;
    width: 2658px;
    height: 1560px;
    background-color: black;
    filter: blur(12px);
}
#background > img {
    width: 2658px;
    height: 1560px;
}
#container {
    max-width: 1000px;
    grid-column-start: 2;
    grid-column-end: 2;
    position: absolute;
    top:3vw;
    background-color: azure;
    border-radius: 3mm;
    margin-left: 20px;
    margin-right: 20px;
}
#cabecera {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#cabecera > img{
    max-width: 100%;
    height: auto;
}
#titulo {
    display: grid;
    grid-template-columns: 60 40;
    grid-gap: 40px;
}
 #titulo_info {
    margin-left: 20px;
}
#ubiprecio {
    display: grid;
    grid-template-columns: 50 50;
}
#ubicacion1 {
    max-width: fit-content;
    font-weight: bolder;
}
#precio {
    grid-column-start: 2;
    align-content: center;
}
#buttonBox {
    grid-column-start: 2;
    max-width: fit-content;
    align-content: center;
}
#entradas {
    height: 70px;
    width: auto;
    background-color: rgb(183, 52, 52);
    border-radius: 2mm;
    border: 0px;
    font-weight: bold;
    font-size: 28px;
    color: white;
}
#info {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 40px;
    max-width: 900px;
}
#data {
    margin-right: 60px;
    max-width: fit-content;
    grid-column-start: 2;
}
#sinopsis {
    margin-left: 20px;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}
#data > div {
    margin-right: 10px;
}